.landing__container{
  display:flex;
  flex-direction:column;
  height:100vh;
  width:100%;

  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar{
  display:flex;
  width:100%;
  height:80px;
  justify-content: space-between;
  align-items: center;
  padding:0 32px;  
}

.navbar__menu{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width:400px;
}

.navbar__menu__text{
  font-size: 24px;
  color: black;
  cursor:pointer;
}

.landing__content__container{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height:800px;
  justify-content: center;
  align-items: center;
}

.landing__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 80px;
  gap:32px;
  
}

.landing__title{
  font-size: 100px;
  color: white;
  font-weight: 600;
  width: 100%;
}

.landing__subtitle{
  font-size: 32px;
  color: white;
  font-weight: 500;
}

.btn__primary{
  background-color: #D3F2F0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;
  height: 56px;
  border:none;

  color:black;
  font-size: 20px;
  cursor:pointer;
  
}

.btn__primary:hover{
  transform: scale(1.04);
}